# Секреты - НИКОГДА не попадают в репозиторий
.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# macOS
.DS_Store

# Данные и артефакты (при желании можно оставить - они небольшие)
# data/processed/

# посторонние файлы, не относящиеся к проекту
*.m4a
*.mp4
*.mov
